*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Base layer*/
  --background-color: hsl(210, 30%, 98%);
  --background-color-navbar: hsl(210, 30%, 92%);
  --text-color: hsl(210, 10%, 20%);
  --button-text-color:hsl(0, 0%, 100%);
  --navbar-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  --navbar-border: 1px solid rgba(0, 0, 0, 0.08);
  --section-bg-1: hsl(210, 30%, 96%);
  --section-bg-2: hsl(210, 30%, 90%);

  /*UI interaction*/
  --accent-color: hsl(210, 60%, 50%);
  --hover-color: hsl(210, 60%, 40%);
  --hover-bg: hsla(0, 0%, 0%, 0.05);
  color-scheme: light;
}

html.dark {
  /*Base layer*/
  --background-color: hsl(210, 20%, 12%);
  --background-color-navbar: hsl(210, 20%, 18%);
  --text-color: hsl(210, 10%, 90%);
  --button-text-color:hsl(210, 10%, 10%);
  --navbar-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  --navbar-border: 1px solid rgba(255, 255, 255, 0.05);
  --section-bg-1: hsl(210, 20%, 16%);
  --section-bg-2: hsl(210, 20%, 20%);

  /*UI interaction*/
  --accent-color: hsl(210, 60%, 65%);
  --hover-color: hsl(210, 60%, 75%);
  --hover-bg: rgba(255, 255, 255, 0.1);
  color-scheme: dark;
}

body{
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background-color);
  color:var(--text-color);
  min-height: 100vh;
}

.theme-toggle-btn {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle-btn:hover{
  background-color: var(--hover-color);
}
